---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Subscription confirmed 🎉">
  <Fragment slot="head">
    <meta name="robots" content="noindex" />
  </Fragment>
  <div class="grid justify-center h-full items-center">
    <div class="border-2 border-black p-4 m-4 rounded font-bold text-center">
      <h1>Subscription confirmed 🎉</h1>
      <p>
        Thanks for signing up — you'll get an email whenever there is a new
        post.
      </p>
      <p>
        <a href="/posts/">Read the latest posts</a> or
        <a href="/">go back home</a>.
      </p>
    </div>
  </div>
</Layout>
