<div class="font-bold border border-black mt-2">
  <span class="absolute -m-4">📢</span>
  <span class="p-2">Welcome to my website!</span>
  <br />
  <span class="p-2">
    Check out the 🆕
    <a href="/projects/" class="underline hover:underline-offset-2">
      project section
    </a>
  </span>
</div>
